@page "/upload-image"
@inject IImageAssetData ImageAssetData

<h3>Upload Image</h3>

<MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".png, .jpg" FilesChanged="UploadFiles" MaximumFileCount="100">
    <ButtonTemplate>
        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.CloudUpload"
                   for="@context">
            Image files
        </MudButton>
    </ButtonTemplate>
</MudFileUpload>

@code {
    private async Task UploadFiles(IReadOnlyList<IBrowserFile> files)
    {
        List<ImageAsset> imageAssets = new();
        
        foreach (IBrowserFile file in files)
        {
            var imageAsset = new ImageAsset
            {
                Name = file.Name,
                Data = await ConvertToByteArrayAsync(file)
            };
            
            imageAssets.Add(imageAsset);
        }

        await ImageAssetData.SaveMultipleImageAssetAsync(imageAssets);
    }

    private async Task<byte[]> ConvertToByteArrayAsync(IBrowserFile imageFile)
    {
        using var memoryStream = new MemoryStream();
        await imageFile.OpenReadStream(5000000).CopyToAsync(memoryStream); // 5 MB size limit
        return memoryStream.ToArray();
    }
}